.friends-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 600px;
  justify-content: center;
  gap: 10px;
}
.friends-item {
  border: 2px solid #111;
  border-radius: 8px;
  padding: 5px;
}
